/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  display: flex;
  background-color: #f1f8fe;
  padding: 20px 0;
}
.inner {
  width: 1024px;
  
}
.nav {
  width: 100%;
  display: flex;
  justify-content: left;
}

.nav__right{
  display: flex;
  margin: 43px 1px 1px 575px;
  text-align: right;
}


.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}


/* tweetフォーム */

.field{
  margin: 10px 0;
}

.select-box {
  margin: 2vh 0;
}

/* 一覧 */
.team{
  display: flex;
  border: 1px solid black;
  padding: 40px 40px;
  margin-bottom: 28px;
  align-items: center;
}

.detail{
  padding: 0px 0px 0px 70px;
  font-size: 23px;
  width: 25%;
  white-space: nowrap;

}

.nav__post{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 2.0em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  padding: 0px 0px 0px 100px;
}

.image{
  display: flex;
  width: 50%;
}

.rank{
  text-align: center;
  font-size: 22px;
  margin: 6px 6px 6px 6px;
  width: 150px;
  
}

.chat{
  text-align: center;
}

.startchat{
  padding: 0.4em 1.6em;
  font-size: 2.0em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}

.gotop{
  padding: 0.4em 1.6em;
  font-size: 2.0em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}

.search{
  display: flex;
  margin: 1;
  align-items: center;
  height: 120px;
  
}
.sfield{
 margin: 1px 30px 1px 1px;
}

.scrim{
  font-size: 50px;
}

.select{
  margin: 1px 1px 1x 30px;
  text-align: right;
}

